body {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

#main {
    margin: auto;
    width: 70%;
    background-color: white;
    border: 1px solid white;
}

.list-disable {
    pointer-events: none;
    opacity: 0.1;
}

#add-field {
    display: block;
    position: fixed;
    top: 80px;
    left: 15%;
    width: 70%;
    z-index: 9000;
    min-width: 300px;
    box-sizing: border-box;
    border: 20px solid rgb(245, 245, 12, 0.8);
    border-radius: 7px;
}

#add-field div:first-child {
    float: left;
    width: 90%;
}

#add-field div:last-child {
    float: right;
    width: 10%;
}

input[type="text"] {
    padding: 5px;
    border-radius: 3px;
    font-size: 1.3em;
    outline: 0;
    border: 0;
    width: 100%;
}

input[type="text"]::placeholder {
    color: #a7a097;
    font-size: 80%;
}

#okbutton {
    padding: 5px;
    margin-left: 5px;
    outline: 0;
    font-size: 1.3em;
    border: 0;
    width: 100%;
    z-index: 99999;
}

#add div {
    display: inline-block;
}

#add-button {
    position: fixed;
    left: 75px;
    top: 15px;
    padding: 15px 32px;
    float: left;
    text-align: center;
    vertical-align: middle;
    font-size: 1.5em;
    background-color: rgb(240, 79, 73);
    border: none;
    color: white;
}

#add-button:hover {
    background-color: red
}

.todo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #efefef;
    padding: 10px;
    border: 0;
}

.todo-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    border-bottom: 1px solid #cecece;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #333333;
}

p {
    margin-right: 10px;
}

input[type=checkbox] {
    margin-right: 10px;
}

input[type=checkbox]:focus {
    outline: 0;
}

@media (min-width: 300px) and (max-width: 599px) {
    #add-field {
        top: 70px;
        left: 0;
        border-radius: 0;
        width: 100%;
        font-size: 0.9em;
    }
    #add-button {
        left: 0;
        top: 15px;
        padding: 10px 20px;
        font-size: 2em;
    }
    #main {
        margin-left: 40px;
        width: auto;
    }
}

@media (min-width: 600px) and (max-width: 799px) {
    #add-field {
        top: 00px;
        left: 0;
        border-radius: 0;
        width: 100%;
    }
    #add-button {
        left: 0;
        top: 0;
        padding: 20px 30px;
        font-size: 2em;
    }
    #main {
        margin-left: 50px;
        width: auto;
    }
}